<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.kalafatic.utils.factories.CorePerspectiveFactory"
            id="eu.kalafatic.utils.CorePerspectiveFactory"
            name="Core Perspective Factory">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eu.kalafatic.utils.handlers.SelectLanguageHandler"
            name="Select Language">
         <commandParameter
               id="eu.kalafatic.utils.handlers.SelectLanguageHandler.Parameter"
               name="Language"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.kalafatic.utils.handlers.SelectLanguageHandler"
            commandId="eu.kalafatic.utils.handlers.SelectLanguageHandler"
            helpContextId="eu.kalafatic.utils.handlers.SelectLanguageHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="eu.kalafatic.utils.wizards.sampleCategory"
            name="Sample Configuration File Import">
      </category>
      <wizard
            category="eu.kalafatic.utils.wizards.sampleCategory"
            class="eu.kalafatic.utils.wizards.ImportConfigurationWizard"
            icon="icons/sample.gif"
            id="eu.kalafatic.utils.wizards.ImportConfigurationWizard"
            name="Import Configuration  File">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="eu.kalafatic.utils.wizards.ExportConfigurationWizard"
            id="eu.kalafatic.utils.wizards.ExportConfigurationWizard"
            name="Export Configuration File">
      </wizard>
   </extension>

</plugin>
